@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100%;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
